<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Project</title>
     <link rel="icon" href="{% static 'core/img/icon.png' %}" type="image/gif" sizes="16x16">

    <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap" rel="stylesheet">
    {% block corecss %}
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    {% endblock corecss %}
    
</head>

<body>

    <div class="container-fluid bg-dark">
        <div class="row">
            <!-- sidebar -->
            <div class="col-sm-3">

            {% include 'core/sidebar.html' %}
            </div>
            <!-- sidebar -->
            <div class="col-sm-9 ">
               {% block main %}{% endblock main %}
            </div>
        </div>
    </div>

    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/poper.js' %}"></script>
    <script src="{% static 'core/js/all.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
</body>

</html>